$primary: #000000;
$secondary: #6c0ce0;
$font1: "Work Sans", Inter, Arial;
$font2: "Roboto Condensed";

.navbar {
    background: #240046;
    .navbar-brand img {
        height: 60px;
    }
    .nav-link {
        font: 22px $font2;
        color: #dbff2afa;
        text-transform: uppercase;
        &:hover {
            color: $secondary;
        }
    }
    .navbar-nav .nav-link.show {
        color:#dbff2afa;
    }
    .dropdown-menu {
        background: #240046;
        border-radius: 5;
        border-top: 5px solid #dbff2afa;
        .dropdown-item {
            font: 20px $font2;
            text-transform: uppercase;
            color: #dbff2afa;
        }
    }
    .btn {
        margin-left: 5px;
    }
}

.btn {
    font: 17px $font2;
    border-radius: 10px;
    background:  #dbff2afa;
    color:#000000;
    font-weight:600;
    &:hover {
        background-color: #441d70f2;
        box-shadow: #ffffff !important;
    }

}

h1 {
    font: 40px $font2;
    color: #240046;
    margin: 30px;
    font-size: 3rem;
    font-weight: 500;
    -webkit-text-stroke: 2px #7717a7;
    
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0 20px #5f028e;
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 1px;
    background: #240046;
    color:  #dbff2afa;
    img{
        width: 100%;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
    }
    
}

.footer {
    color: #dbff2afa;
    padding: 15px;
    background: #240046;
    margin-top: 10px;
    position:static;
    
}

body {
    margin-top: 80px;
    background: #e0aaff;
}

.navbar-toggler {
    background:$secondary;
}
.btn-home{
    background: #dbff2afa;
    color: #000000;
    box-shadow: 0 0 5px #000000;
    box-sizing: border-box;
    font: 20px $font2;
    width: 100%;
    border-radius: 5px;
    margin-left: 15px;
    text-decoration: none;
}
